body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 1000px;
}

.first-h1 {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.half-width img {
    width: 100%;
    padding-right: 20%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700px;
    background-image: linear-gradient(orange, tomato);
    padding: 25px 50px;
    border-radius: 50px;
}

.about-me {
    background-image: url(images/7.png);

}

#my-recipies {
    text-align: center;
    justify-content: center;
}

.center {
    text-align: center;

    justify-content: center;
}

.item-recipi {
    display: flex;
}

.two-item {
    height: 600px;
    border-radius: 20px;
    box-shadow: 20px 30px 35px gray;
    justify-content: space-between;
}